@import 'import';
@import 'variables';


body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  color: $text-primary;
  background-color: $primary-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
}

code {
  font-family: $font-secondary;
}

svg {
  fill: currentColor;
}

p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

li {
  margin-bottom: 0;
  clear: both;
  position: relative;
}

.app-wrapper {
  min-height: 100vh;
  transform: scale(1);
  transition: all .3s ease-in-out;
  &.contained {
    transform: scale(0.97);
  }
}

.page {
  padding: 0 $page-side-padding;
  min-height: 50vh;
}
